@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%; /* Ensure html and body take up the full height */
  margin: 0; /* Remove default margin */
}
body {
  background-image: url('/images/alonso-reyes-0HlI76m4jxU-unsplash.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


 .glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7),
               0 0 20px rgba(255, 255, 255, 0.5),
               0 0 30px rgba(255, 255, 255, 0.3),
               0 0 40px rgba(255, 255, 255, 0.2),
               0 0 50px rgba(0, 255, 0, 0.4),
               0 0 60px rgba(0, 255, 0, 0.3),
               0 0 70px rgba(0, 255, 0, 0.2);
  @apply text-green-500;
}

